.home{
    background-image: url(../images/background.jpg);
    height: 93vh;
    background-position: center center;
    background-size: cover;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
.head{
    background-color: rgb(197, 204, 204);
    width: 300px;
    
}
 input{
    border: 1px solid transparent;
    outline: none;
 }

 textarea{
    resize: none;
    border: 1px solid transparent;
    outline: none;

 }